.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1200px;
}

.header .container {
  align-items: center;
  height: 80px;
}

.header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}

.hero .container {
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 280px;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero,
.footer {
  background-color: #2f303a;
}

.main-description .container {
  justify-content: center;
  padding-top: 94px;
}

.main-what-we-do .container {
  padding: 94px 15px;
}

.team .container {
  padding: 94px 15px;
}

.team {
  background: #f5f4fa;
}

.customers .container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 94px;
  margin-top: 94px;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.filter .container {
  padding-top: 94px;
  justify-content: center;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 400ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  padding-top: 40px;
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__content--part-blue {
  color: #2196F3;
}

.logo__content--part-black {
  color: black;
}

.logo__content--part-white {
  color: #ffffff;
}

.navigation-list {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navigation-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list__link:hover, .navigation-list__link:focus {
  color: #2196F3;
}

.navigation-list__item--agencja::after {
  content: "";
  display: flex;
  width: 53px;
  height: 4px;
  background-color: #2196F3;
  position: relative;
  top: 28px;
}

.navigation-list__item--portfolio::after {
  content: "";
  display: flex;
  width: 58px;
  height: 4px;
  background-color: #2196F3;
  position: relative;
  top: 28px;
}

.navigation-list__item--kontakt::after {
  content: "";
  display: flex;
  width: 53px;
  height: 4px;
  background-color: #2196F3;
  position: relative;
  top: 28px;
}

.navigation-list__item:not(:last-child) {
  margin-right: 46px;
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: 345px;
}

.header-contact__mail,
.header-contact__phone {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition: color 250ms, fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__mail:hover, .header-contact__mail:focus,
.header-contact__phone:hover,
.header-contact__phone:focus {
  fill: #2196F3;
  color: #2196F3;
}

.header-contact__mail {
  margin-right: 30px;
}

.header-contact__mail-ico,
.header-contact__phone-ico {
  margin-right: 10px;
  transition: color 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address {
  display: flex;
  padding-top: 20px;
  font-style: normal;
}

.footer-address__item:not(:last-child) {
  padding-bottom: 9px;
}

.footer-address__link {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-address__link--lokalization {
  color: #ffffff;
}

.footer-address__link--mail,
.footer-address__link--phone {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address__link--mail:hover, .footer-address__link--mail:focus,
.footer-address__link--phone:hover,
.footer-address__link--phone:focus {
  color: #2196F3;
}

.footer-socjal {
  margin-left: 70px;
}

.footer-socjal__header {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  padding-top: 12px;
}

.footer-socjal__list {
  display: flex;
}

.footer-socjal__item:not(:last-child) {
  margin-right: 10px;
}

.footer-socjal__icon {
  fill: #ffffff;
}

.footer-socjal__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socjal__link:focus, .footer-socjal__link:hover {
  background-color: #2196F3;
}

.footer-newsletter {
  display: flex;
  width: 570px;
  height: 86px;
  margin-left: 78px;
}

.footer-newsletter__form {
  display: flex;
  align-items: flex-end;
}

.footer-newsletter__user-email {
  display: flex;
  flex-direction: column;
}

.footer-newsletter__header {
  font-style: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-newsletter__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
}

.footer-newsletter__button {
  position: relative;
  width: 200px;
  height: 50px;
  background: #2196F3;
  border: none;
  border-radius: 4px;
  margin-left: 12px;
}

.footer-newsletter__button-title {
  margin-right: 24px;
  font-style: bold;
  font-size: 16px;
  color: #ffffff;
}

.footer-newsletter__button-ico {
  position: absolute;
  top: 13px;
  fill: #ffffff;
}

.modal__header {
  text-align: center;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 3%;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form__title {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1%;
  color: #757575;
}

.modal-form__input-space {
  display: flex;
  align-items: center;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 12px;
  transition: border-color 250ms, fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input-space:hover, .modal-form__input-space:focus-within {
  border-color: #2196F3;
  fill: #2196F3;
}

.modal-form__input {
  width: 100%;
  border: none;
  outline: none;
}

.modal-form__label-textarea {
  display: flex;
  flex-direction: column;
}

.modal-form__textarea {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea:hover, .modal-form__textarea:focus-within {
  border-color: #2196F3;
  fill: #2196F3;
}

.modal-form__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
}

.modal-form__checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms, border 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox-input:checked + .modal-form__checkbox-label::before {
  background-color: #2196F3;
  border: none;
  background-image: url(../images/icon_check.svg);
}

.modal-form__checkbox-link {
  color: #2196F3;
}

.modal-form__button {
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.modal-form__button-title {
  color: #ffffff;
  font-style: bold;
  font-size: 16px;
  letter-spacing: 6%;
}

.hero-header__title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-header__btn {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px black;
  border: 1px solid #2196F3;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.main-description-list {
  display: flex;
}

.main-description-list__item:not(:last-child) {
  margin-right: 30px;
}

.main-description-list__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.main-description-list__content {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.main-description-list__icon-space {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #f5f4fa;
  margin-bottom: 30px;
}

.main-what-we-do-space__header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

.main-what-we-do-space__list {
  display: flex;
  padding-top: 50px;
}

.main-what-we-do-space__item {
  position: relative;
}

.main-what-we-do-space__item:not(:last-child) {
  margin-right: 30px;
}

.main-what-we-do-space__label {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.main-what-we-do-space__label-content {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  letter-spacing: 3%;
  color: #ffffff;
  text-transform: uppercase;
}

.team-space__header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-space__list {
  display: flex;
  padding-top: 50px;
}

.team-space__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.team-space__item:not(:last-child) {
  margin-right: 30px;
}

.team-space__personal {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.team-space__personal-position {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.team-space__socjal-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-space__socjal-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill 250ms, background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-space__socjal-link:hover, .team-space__socjal-link:focus {
  fill: #ffffff;
  background-color: #2196F3;
}

.team-space__socjal-list-link:not(:last-child) {
  margin-right: 10px;
}

.customers__header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.customers__list {
  display: flex;
}

.customers__link {
  display: flex;
  box-sizing: border-box;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: fill 250ms, border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover, .customers__link:focus {
  fill: #2196F3;
  border-color: #2196F3;
}

.customers__item:not(:last-child) {
  margin-right: 30px;
}

.filter__list {
  display: flex;
  width: 572px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms, background-color 250ms, box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter__button {
  background: #f5f4fa;
  border-radius: 4px;
  height: 38px;
  padding-right: 22px;
  padding-left: 22px;
}

.projects .container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-top: 50px;
  padding-bottom: 94px;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project__header-space {
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  background: #ffffff;
}

.project__header {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__category {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.project__item {
  position: relative;
  overflow: hidden;
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item:hover, .project__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__item:hover .project__overlay,
.project__item:hover .project__overlay {
  transform: translateY(0);
}

.project__overlay {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  padding-left: 24px;
  padding-right: 45px;
  background-color: rgba(33, 150, 243, 0.9);
  align-items: center;
  transform: translateY(100%);
  transition: transform 250ms ease;
}

.project__overlay-description {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 3%;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */