.hero-header__title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color-1;
}

.hero-header__btn {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    background-color: $main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 15);
    border: 1px solid $main-color;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $color-1;
}