.main-what-we-do-space__header {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
}

.main-what-we-do-space__list {
    display: flex;
    padding-top: 50px;
}



.main-what-we-do-space__item {
    position: relative;
        &:not(:last-child) {
            margin-right: 30px;
        }    
}

.main-what-we-do-space__label {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
}
.main-what-we-do-space__label-content {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    vertical-align: top;
    letter-spacing: 3%;
    color: $color-1;
    text-transform: uppercase;
}