

@mixin footer__newsletter-header {
  font-style: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: $color-1;
  margin-bottom: 20px;
}
@mixin footer__newsletter-input {
  height: 50px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: $hero-footer-bgcolor;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
}
@mixin footer__newsletter-button {
  position: relative;
  width: 200px;
  height: 50px;
  background: $main-color;
  border: none;
  border-radius: 4px;
}
@mixin footer__newsletter-button-title {
  margin-right: 24px;
  font-style: bold;
  font-size: 16px;
  color: $color-1;
}
@mixin footer__newsletter-button-ico {
  position: absolute;
  top: 13px;
  fill: $color-1;
}
// --------------------320---------------------
@media screen and (min-width: 320px) {

  .footer__newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__newsletter-user-email {
    display: flex;
    flex-direction: column;
  }

  .footer__newsletter-header {
    @include footer__newsletter-header;
    text-align: center
  }

  .footer__newsletter-input {
    @include footer__newsletter-input;
    width: 300px;
    margin-bottom: 20px;
  }

  .footer__newsletter-button {
    @include footer__newsletter-button;
    margin-left: 0;
  }

  .footer__newsletter-button-title {
    @include footer__newsletter-button-title;
  }

  .footer__newsletter-button-ico {
    @include footer__newsletter-button-ico;
  }
}

// --------------------480---------------------
@media screen and (min-width: 480px) {

  .footer__newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__newsletter-user-email {
    display: flex;
    flex-direction: column;
  }

  .footer__newsletter-header {
    @include footer__newsletter-header;
    text-align: center
  }

  .footer__newsletter-input {
    @include footer__newsletter-input;
    width: 450px;
    margin-bottom: 20px;
  }

  .footer__newsletter-button {
    @include footer__newsletter-button;
    margin-left: 0;
  }

  .footer__newsletter-button-title {
    @include footer__newsletter-button-title;
  }

  .footer__newsletter-button-ico {
    @include footer__newsletter-button-ico;
  }
}

// --------------------768---------------------
@media screen and (min-width: 768px) {

  .footer__newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__newsletter-user-email {
    display: flex;
    flex-direction: column;
  }

  .footer__newsletter-header {
    @include footer__newsletter-header;
    text-align: center
  }

  .footer__newsletter-input {
    @include footer__newsletter-input;
    width: 450px;
    margin-bottom: 20px;
  }

  .footer__newsletter-button {
    @include footer__newsletter-button;
    margin-left: 0;
  }

  .footer__newsletter-button-title {
    @include footer__newsletter-button-title;
  }

  .footer__newsletter-button-ico {
    @include footer__newsletter-button-ico;
  }
}


// --------------------1200---------------------
@media screen and (min-width: 1200px) {

  .footer__newsletter {
    // display: flex;
    // align-items: start;
    margin-left: 70px;
    width: 570px;
    height: 86px;
  }
  
  .footer__newsletter-form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .footer__newsletter-user-email {
    display: flex;
    flex-direction: column;
  }

  .footer__newsletter-header {
    @include footer__newsletter-header;
    text-align: left;
  }

  .footer__newsletter-input {
    @include footer__newsletter-input;
    width: 358px;
    margin-bottom: 0px;
  }

  .footer__newsletter-button {
    @include footer__newsletter-button;
    margin-left: 12px;
  }

  .footer__newsletter-button-title {
    @include footer__newsletter-button-title;
  }

  .footer__newsletter-button-ico {
    @include footer__newsletter-button-ico;
  }


// .footer__newsletter {
//   margin-left: 78px;
// }

// .footer__newsletter-form {
//   display: flex;
//   flex-direction: row;
//   align-items: flex-end;
// }

// .footer__newsletter-user-email {
//   display: flex;
//   flex-direction: column;
// }

// .footer__newsletter-header {
//   @include footer__newsletter-header;
// }

// .footer__newsletter-input {
//   @include footer__newsletter-input;
//   width: 358px;
// }

// .footer__newsletter-button {
//   @include footer__newsletter-button;
//   margin-left: 12px;
// }

// .footer__newsletter-button-title {
//   @include footer__newsletter-button-title;
// }

// .footer__newsletter-button-ico {
//   @include footer__newsletter-button-ico;
// }
}