.footer__address {
    display: flex;
    padding-top: 20px;
    font-style: normal;
}

.footer__address-item {
    &:not(:last-child) {
        padding-bottom: 9px;
}
}

.footer__address-link {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer__address-link--lokalization {
    color: $color-1;
}
.footer__address-link--mail,
.footer__address-link--phone {
    color: rgba(255, 255, 255, 0.6);
        &:hover,
        &:focus {
            color: $main-color;
        }
}

