
// :root {
//     --main-font: 'Roboto', sans-serif;
//     --secondary-font: 'Raleway', sans-serif;
//     --main-color: #2196F3;
// }

body {
    font-family :$main-font;
    color: $secondary-color;
}

h1,h2,h3,h4,h5,h6,ul,p {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}