$main-font:  'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;

$main-color: #2196F3;
$secondary-color: #212121;
$hero-footer-bgcolor: #2f303a;
$color-1: #ffffff;
$color-2: #ececec;
$color-3: #f5f4fa; 
$color-4: black;
$color-5: #757575;
$color-6: #afb1b8;
$color-7: #eeeeee;

$width-mobile-menu__socjal-link--line: 22px;